<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <h2>Boot Information</h2>
    <p>Server boot up time: {{.ServerBootTime}}</p>

    <h2>Current software versions</h2>
    <table>
        <tr>
            <th>Software/Library</th>
            <th>Version</th>
        </tr>
        <tr>
            <td>Go Runtime</td>
            <td>{{.GoRuntime}}</td>
        </tr>
        <tr>
            <td>AWS SDK</td>
            <td>{{.AWSSDKName}} @{{.AWSSDKVersion}}</td>
        </tr>
    </table>

    <h2>Misc information</h2>
    <p>GitHub API refresh rate: {{.GitHubAPIRefreshRate}}</p>
    <p>Status emails every: {{.StatusEmailRate}}</p>

</body>
</html>