<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Oops...</title>
    <style>
        html {
            background-color: black;
            color: #3deb34;
        }
        a {
            color: #3deb34;
        }
    </style>
  </head>
  <body>
    <pre> 
    .---.    .----.      .---.   
   / .  |   /  ..  \    / .  |   
  / /|  |  .  /  \  .  / /|  |   
 / / |  |_ |  |  '  | / / |  |_  
/  '-'    |'  \  /  '/  '-'    | 
`----|  |-' \  `'  / `----|  |-' 
     `--'    `---''       `--'  
  ___ _ __ _ __ ___  _ __ 
 / _ \ '__| '__/ _ \| '__|
|  __/ |  | | | (_) | |   
 \___|_|  |_|  \___/|_| 
    </pre>
    <h1><a href="https://reecemercer-dev-backend.herokuapp.com/">← go back</a></h1>
    <img src="../static/seal.gif"/>
  </body>
</html>