<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RM API</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">reecemercer.dev backend API</h1>
            <p class="lead">You have reached the root endpoint (<code>/</code>). Please see below for a full list of all available endpoints.</p>
            <p class="lead">Click any endpoint links to visit them directly.</p>
            <figure class="figure">
                <a href="https://app.netlify.com/sites/practical-knuth-a08923/deploys"><img src="https://api.netlify.com/api/v1/badges/05ec1ea4-d953-4d0c-9aa2-a611fc5cc3fe/deploy-status" /></a>
                <figcaption class="figure-caption text-left"><a href="https://reecemercer.dev" target="_blank" rel="noopener noreferrer">reecemercer.dev</a></figcaption>
            </figure>
        </div>
      </div>
    <div class="row mb-5" style="width:98vw; margin:auto">
        <div class="col-md">
            <h3>GitHub API Endpoints - <code>/api/github/endpoint</code></h3>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">URL</th>
                    <th scope="col">Expected request</th>
                    <th scope="col">Parameters</th>
                    <th scope="col">Expected response</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href='{{.RemoteURL}}/api/github/repos'><code>/api/github/repos</code></td>
                    <td><code>GET</code></td>
                    <td>None</td>
                    <td>A formatted array of all my currently public GitHub repositories</td>
                  </tr>
                  <tr>
                    <td><a href='{{.RemoteURL}}/api/github/repo-stats'><code>/api/github/repo-stats</code></td>
                    <td><code>GET</code></td>
                    <td>None</td>
                    <td>Some cumulative statistics about my public GitHub repositories</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="col-md">
            <h3>Photography API Endpoints - <code>api/photos/endpoint</code></h3>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">URL</th>
                    <th scope="col">Expected request</th>
                    <th scope="col">Parameters</th>
                    <th scope="col">Expected response</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href='{{.RemoteURL}}/api/photos/list-collections'><code>/api/photos/list-collections</code></a></td>
                    <td><code>GET</code></td>
                    <td>None</td>
                    <td>List of collections, along with descriptions and preview image links</td>
                  </tr>
                  <tr>
                    <td><a href='{{.RemoteURL}}/api/photos/get-contents'><code>/api/photos/get-contents</code></a></td>
                    <td><code>GET</code></td>
                    <td>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Example</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><code>c</code></td>
                                    <td><code>Sunsets</code></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>All image links for a given collection. Takes one parameter, c, as the name of the collection to list. For a list of available collections, visit <code><a href='{{.RemoteURL}}/api/photos/list-collections'>/api/photos/list-collections</a></code> first</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
  </body>
</html>